.navbar {
    color: #101111;
    border-bottom: 1px solid #b3aeae;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
   .navbar__image {
    width: 6rem;
    margin: 0 1rem;
  }
  
  .navbar__links__list {
    display: flex;
    list-style: none;
  }
  
  .items {
    text-decoration: none;
    color: #484848;
    font-weight: 700;
    padding: 0 1rem;
    font-size: 0.9em;
    display: flex;
    align-items: center;
  }
  
  .text {
    padding: 0 0.2rem;
  }
  
  .items:hover {
    color: #252223;
    cursor: pointer;
    transition: all 200ms ease;
  }